*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: poligon;
    src: url('./fonts/Poligon-Bold.woff');
    font-weight: 600;
    font-display: block;
}

@font-face {
    font-family: poligon;
    src: url('./fonts/Poligon-SemiBold.woff');
    font-weight: 500;
    font-display: block;
}

@font-face {
    font-family: poligon;
    src: url('./fonts/Poligon-Medium.woff');
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: poligon;
    src: url('./fonts/Poligon-Regular.woff');
    font-weight: 300;
    font-display: block;
}

body{
    font-family: poligon;
    margin: 0;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

h2{
    font-size: 40px;
}

.hero-sub-title{
    font-size: 32px;
    font-weight: 500;
}

.hero-subtitle{
    margin-top: 20px;
}

.navigation{
    display: flex;
    padding-left: 5%;
}

.side-by-side{
    width: 40%;
    margin-top: 20px;
}

.left-list{
    display: flex;
}

.left-list .left-list-item{
    margin-right: 30px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.logo-part{
    width: 20%;
    text-align: center;
}

.socially-connect{
    width: 40%;
    text-align: center;
    margin-top: 10px;
}

.social-contents ul{
    margin-top: 0rem;
}

.social-contents ul li{
    display: inline-block;
    margin-left: 2rem;
}

.social-contents ul li:first-child{
    display: inline-block;
    margin-left: 0;
}

.social-contents ul li a{
    color: #fff;
}

.social-contents ul li a i::before{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    background: #22242D;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .5s linear;
}

.social-contents ul li a:hover i::before{
    transform: scale(1.4);
}

.myself-text{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    margin-top: 20px;
}

.hero-left-text{
    
}

.link-button{
    margin-top: 35px;
}

.orange-color{
    color: orange;
    font-size: 56px;
}

.welcome-text{
    font-size: 56px;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    align-items: center;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 40px;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 10rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    outline: none;
    text-decoration: none;
}

.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
    color: #fff;
}

.btn:active{
    transform: translateY(0);
    color: #fff;
}

.btn::after{
    content: "";
    display: inline-block;
    border-radius: 10rem;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.btn-gradient-blue{
    background: linear-gradient(to right bottom, orange, tomato);
    color: #fff;
}

.btn-gradient-blue::after{
    background: linear-gradient(to right bottom, orange, tomato);

}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
}

.image-2{
    width: 80%;
}

.myself-text-2{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    width: 80%;
}

.dream-all-texts{
    margin-top: -65px;
}

.experience-title{
    font-size: 28px;
}

.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 10px;
}

.experience-text{
    text-align: justify;
    width: 90%;
}

#web-dev-experience{
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}

#web-dev-experience-2{
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    border-left: 7px solid;
}

.footer-text{
    text-align: center;
}